.nome {
  font-size: 80px;
  font-weight: 800;
}

.coluna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.descricao {
  margin: 30px 0;
}

.distancia {
  padding: 0 150px;
}

.ver-mais a {
  color: white;
  text-decoration: none;
}

.ver-mais a:hover {
  color: white;
  text-decoration: underline;
}

.icones {
  margin-top: 30px;
}

.icone {
  font-size: 25px;
  margin-right: 20px;
}
