.nome {
  font-size: 80px;
  font-weight: 800;
}

@media (max-width: 650px) {
  .nome {
    font-size: 4em;
  }
}

.coluna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.descricao {
  margin: 30px 0;
}

.distancia {
  padding: 0 150px;
}

@media (max-width: 650px) {
  .distancia {
    padding: 0 10vw;
  }
}

.ver-mais a {
  color: black;
  text-decoration: none;
}

.ver-mais a:hover {
  color: black;
  text-decoration: underline;
}

.icones {
  margin-top: 30px;
}

.icone {
  font-size: 25px;
  margin-right: 20px;
}

.arcoiro {
  background: -webkit-linear-gradient(40deg, #db3236, #e22c73, #cd49ab, #9d6ad7, #4885ed);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}