<div class="coluna distancia">
  <div class="nome arcoiro">I'm Mateus Venâncio</div>
  <div class="descricao">
    Suspendisse aliquet tortor in posuere bibendum. Nunc luctus enim libero.
    Duis consectetur egestas odio. Ut non convallis turpis. Suspendisse nec
    dolor nibh. Etiam sodales diam ut risus rutrum, at tristique orci
    condimentum. Curabitur elementum quam risus, nec semper nibh gravida quis.
    Vivamus non augue nisl.
  </div>
  <div class="ver-mais">
    <a href="#"> Ver mais → </a>
  </div>
  <div class="icones">
    <a href="#">
      <i class="icone bi bi-github"></i>
    </a>
    <a href="#">
      <i class="icone bi bi-linkedin"></i>
    </a>
    <a href="#">
      <i class="icone bi bi-envelope"></i>
    </a>
    <a href="#">
      <i class="icone bi bi-whatsapp"></i>
    </a>
  </div>
</div>
